<aside class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" ng-if="isAuthorized('admin')">
            <li class="header">Ferramentas de Edição</li>
            <li ng-class="{active: isActive('/maps')}"><a ng-href="#/maps">Mapas</a></li>
            <li ng-class="{active: isActive('/groups')}"><a ng-href="#/groups">Agrupamentos</a></li>
            <li ng-class="{active: isActive('/animation-editor')}"><a ng-href="#/animations">Animações</a></li>
            <li ng-class="{active: isActive('/resources')}"><a ng-href="#/resources">Recursos</a></li>
            <li ng-class="{active: isActive('/tasks')}"><a ng-href="#/tasks">Tarefas</a></li>
        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->
