<!doctype html>
<html lang="pt-br" ng-app="rpgAdmin">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/dist/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/iCheck/flat/blue.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/morris/morris.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/datepicker/datepicker3.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="src/config.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/AdminLTE/dist/js/app.min.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/app-object/app-object.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/mouse-reader/src/mouse-reader.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/keyboard-reader/src/keyboard-reader.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/canvas-engine/src/canvas-engine.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/canvas-engine-grid/src/canvas-engine-grid.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/canvas-engine-animation/src/canvas-engine-animation.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/canvas-engine-map/src/canvas-engine-map.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/canvas-engine-object/src/canvas-engine-object.js"></script>
    <script type="text/javascript" src="../bower_components/phydokz/rpg-engine/src/RPG.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="../bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="../bower_components/color-thief/dist/color-thief.min.js"></script>
    <script type="text/javascript" src="../bower_components/lz-string/libs/lz-string.min.js"></script>
    <script type="text/javascript" src="js/module/Admin.js"></script>
    <script type="text/javascript" src="js/constants.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/services/Session.js"></script>
    <script type="text/javascript" src="js/services/TaskService.js"></script>
    <script type="text/javascript" src="js/services/AuthService.js"></script>
    <script type="text/javascript" src="js/services/ImageLoader.js"></script>
    <script type="text/javascript" src="js/services/UploadService.js"></script>
    <script type="text/javascript" src="js/services/ResourceService.js"></script>
    <script type="text/javascript" src="js/services/Utils.js"></script>
    <script type="text/javascript" src="js/services/config/tasks.js"></script>
    <script type="text/javascript" src="js/boot.min.js"></script>
    <script type="text/javascript" src="js/controller/ApplicationController.js"></script>
    <script type="text/javascript" src="js/controller/AnimationEditorController.js"></script>
    <script type="text/javascript" src="js/controller/MapsController.js"></script>
    <script type="text/javascript" src="js/controller/MapEditorController.js"></script>
    <script type="text/javascript" src="js/controller/GroupsController.js"></script>
    <script type="text/javascript" src="js/controller/GroupEditorController.js"></script>
    <script type="text/javascript" src="js/controller/PanelController.js"></script>
    <script type="text/javascript" src="js/controller/UserController.js"></script>
    <script type="text/javascript" src="js/controller/ResourcesController.js"></script>
    <script type="text/javascript" src="js/controller/AnimationsController.js"></script>
    <script type="text/javascript" src="js/controller/TasksController.js"></script>
    <script type="text/javascript" src="js/directives/admin-header.js"></script>
    <script type="text/javascript" src="js/directives/admin-sidebar.js"></script>
    <script type="text/javascript" src="js/directives/draggable-element.js"></script>
    <script type="text/javascript" src="js/directives/frame-player.js"></script>
    <script type="text/javascript" src="js/directives/input-color.js"></script>
    <script type="text/javascript" src="js/directives/input-image.js"></script>
    <script type="text/javascript" src="js/directives/input-image-preview.js"></script>
    <script type="text/javascript" src="js/directives/input-number-vertical.js"></script>
    <script type="text/javascript" src="js/directives/login-form.js"></script>
    <script type="text/javascript" src="js/directives/progress-bar.js"></script>
    <script type="text/javascript" src="js/directives/resource-miniature.js"></script>
    <!--
    <script type="text/javascript" src="../bower_components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="../bower_components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript" src="../bower_components/jasmine-core/lib/jasmine-core/boot.js"></script>-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="ApplicationController">
    <admin-header></admin-header>
    <admin-sidebar></admin-sidebar>
    <div class="content-wrapper">
        <div class="content content-body effect" id="content-body" ui-view>

        </div>
    </div>
</body>
</html>