<div  ng-controller="AnimationsController" ng-init="init()"  cache-view="false">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Animações</h3>
                    <div class="box-tools pull-left">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Nova Animação" title="Nova Animação" ng-click="addAnimation()">
                            <i class="fa fa-plus"></i>Nova Animação
                        </button>
                    </div>
                </div>
                <div class="box-body animations-graphic-body">
                    <table class="table-condensed">
                        <tr ng-repeat="animation in animations">
                            <td>
                                <a ng-href="#/animation-editor/{{animation.name}}">{{animation.name}}</a>
                            </td>
                            <td>
                                <button class="btn btn-default" ng-click="removeAnimation(animation._id)">
                                    <span>&times;</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal new-animation-modal" ng-class="{in:modalNewAnimation}" style="display:{{modalNewAnimation?'block':'none'}};">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="hideNewAnimationModal()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Nova Animação</h4>
                </div>
                <div class="modal-body">
                    <form name="animationForm">
                        <div class="col-md-12 form-group">
                            <input type="text" ng-model="animation.name" class="form-control" placeholder="Nome" name="nome"/>
                        </div>
                        <div class="col-md-12  form-group">
                            <button type="button" ng-click="createAnimation()" class="btn btn-default">Adicionar</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="alert alert-warning" ng-if="errors.name">
                        {{errors.name.message}}
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
