<div ng-controller="MapsController" ng-init="init()"  cache-view="false">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Mapas</h3>
                    <div class="box-tools pull-left">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Novo Mapa" title="Novo Mapa" ng-click="addMap()">
                            <i class="fa fa-plus"></i>Novo Mapa
                        </button>
                    </div>
                </div>
                <div class="box-body animations-graphic-body transition-show" ng-class="{active:maps.length > 0}">
                    <table class="table-condensed">
                        <tr ng-repeat="map in maps">
                            <td>
                                <a ng-href="#/map-editor/{{map.name}}">{{map.name}}</a>
                            </td>
                            <td>
                                <button class="btn btn-default" ng-click="removeMap(map._id)">
                                    <span>&times;</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal new-map-modal" ng-class="{in:modalNewMap}" style="display:{{modalNewMap?'block':'none'}};">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="hideNewMapModal()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Novo Mapa</h4>
                </div>
                <div class="modal-body">
                    <form name="mapForm">
                        <div class="col-md-12 form-group">
                            <input type="text" ng-model="map.name" class="form-control" placeholder="Nome" name="nome"/>
                        </div>
                        <div class="col-md-6  form-group">
                            <input type="text" ng-model="map.width" class="form-control" placeholder="Altura" name="altura"/>
                        </div>
                        <div class="col-md-6  form-group">
                            <input type="text" ng-model="map.height" class="form-control" placeholder="Largura" name="largura"/>
                        </div>
                        <div class="col-md-12  form-group">
                            <button type="button" ng-click="createMap()" class="btn btn-default">Adicionar</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="alert alert-warning" ng-if="errors.name">
                        {{errors.name.message}}
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>