<section class="content" ng-controller="ResourcesController">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{storage.resources.animations.length}}</h3>
                <p>Animações</p>
            </div>
            <div class="icon">
                <i class="fa fa-camera" ng-style="{color:'white'}"></i>
            </div>
            <a href="#/resources/animations" class="small-box-footer">
                Show Files <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{storage.resources.characters.length}}</h3>
                <p>Characters</p>
            </div>
            <div class="icon">
                <i class="fa fa-picture-o" ng-style="{color:'white'}"></i>
            </div>
            <a href="#/resources/characters" class="small-box-footer">
                Show Files <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{storage.resources.tilesets.length}}</h3>
                <p>Tilesets</p>
            </div>
            <div class="icon">
                <i class="fa fa-picture-o" ng-style="{color:'white'}"></i>
            </div>
            <a href="#/resources/tilesets" class="small-box-footer">
                Show Files <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>{{storage.resources.windows.length}}</h3>
                <p>Windows</p>
            </div>
            <div class="icon">
                <i class="fa fa-picture-o" ng-style="{color:'white'}"></i>
            </div>
            <a href="#/resources/windows" class="small-box-footer">
                Show Files <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</section>
