<div class="content" ng-controller="ResourcesController" ng-init="load()">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{resource_title}}</h3>
            <div class="box-tools pull-rigth">
                <button class="btn btn-box-tool" ng-click="sincronize()">
                    sincronizar
                    <span class="fa fa-refresh"></span>
                </button>
                <button class="btn btn-box-tool" ng-click="showModal()">
                    Importar
                    <span class="fa fa-download"></span>
                </button>
            </div>
        </div>
        <div class="box-body no-padding animations-body">
            <div class="col-lg-3 col-md-3 col-xs-12" dir-paginate="resource in resources | itemsPerPage: 8 track by $index " pagination-id="resources-id" current-page="pagination.current" total-items="storage.resources[resource_type].length">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h4 class="box-title">{{resource.created | date :'dd/MM/y HH:mm:ss' }}</h4>
                        <div class="box-tools pull-right">
                            <button type="button" ng-click="remove(resource._id)" class="btn btn-box-tool" ng-class="{disabled:searching}"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <img class="img-responsive" ng-src="{{resource.url}}"/>
                    </div>
                    <div class="box-footer">
                        {{resource.width}} x {{resource.height}}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <dir-pagination-controls pagination-id="resources-id" template-url="templates/Elements/paginator.html" on-page-change="changePage(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
<div class="modal animation-modal" ng-class="{in:modalVisible}" style="display:{{modalVisible?'block':'none'}};">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ng-form name="animationForm">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="hideModal()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{resource_modal_title}}</h4>
                </div>
                <div class="modal-body">
                    <input type="file" input-image-preview url="{{baseUrl}}graphics/upload?type={{resource_type}}" after-each="afterEach"/>
                </div>
            </ng-form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
